.label{
    -fx-text-fill: beige;
    -fx-font-size: 25px;
    -fx-background-color: transparent;
}
.background{
    -fx-background-color: darkslategray;
}
.buttons{
    -fx-border-color: lightseagreen;
}
.grid{
    -fx-alignment: center;
    -fx-background-color: beige;
}
.imageView{
    -fx-alignment: center;
}
.pane{
    -fx-alignment: center;
}